services:
  nats:
    image: nats:scratch
    ports:
      - "4222:4222"
    command: ["-js"]
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 3s
      timeout: 5s
      retries: 5
      start_period: 3s
