services:
  nats:
    image: nats:alpine
    ports:
      - "4222:4222"
    command: ["-js", "-m", "8222"]
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "wget -qO- http://localhost:8222/healthz?js-enabled-only=true || exit 1",
        ]
      interval: 1s
      timeout: 5s
      retries: 10
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG || exit 1"]
      interval: 1s
      timeout: 5s
      retries: 10
