name: Test Rust Code

on:
  push:
    branches: [master]
    paths:
      - "rust/**"
      - ".github/workflows/test_rust.yml"
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v6

      - uses: actions/cache@v5
        with:
          path: |
            rust/target
            ~/.cargo/registry
            ~/.cargo/git
            ~/.cargo/bin
            ~/.rustup
          key: ${{ runner.os }}-cargo-${{ hashFiles('rust/Cargo.lock') }}
      - name: Install build tools
        run: |
          sudo apt-get update
          sudo apt-get install -y curl lld clang cmake
      - name: Setup Rust
        run: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
      - name: Target to x86_64-unknown-linux-gnu
        run: rustup target add x86_64-unknown-linux-gnu
      - name: Setup Rustfmt
        run: rustup component add rustfmt

      - name: Run tests
        run: make testRust

      - name: Cleanup
        if: always()
        run: make clean
